/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');


body {
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    ;
}


/* STYLING HERO SECTION */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: hsla(0, 0%, 0%, 0.6);
    padding: 1rem;
    width: clamp(20rem, 35vw, 30rem);
}

.hero-text h1 {
    font-family: 'Babylonica', cursive;
    font-size: clamp(2rem, 5vw, 4rem);
}

.hero-container {
    position: relative;
    text-align: center;
    height: 35vh;
    width: 100%;
    background-image: url("./img/georgia-de-lotz-L8Q-Lk14LzY-unsplash.jpg");
    background-position: center bottom;
    background-size: cover;

}

/* styling sort btn */

.sort {
    display: inline-block;
    cursor: pointer;
    color: white;
    transition: all 200ms ease;
}

.white {
    color: white;
}

.sort:hover {
    transform: scale(1.2);
    color: #d92626;
}

/* STYLING FOOTER */


footer {
    position: relative;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: black;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 1rem;
}

.social-media a {
    color: white;
    font-size: 1.3rem;
}

footer input {
    width: 30vw;
    height: 2.2rem;
}

/* FOR ELEMENTS WHICH GONNA BE CREATED VIA JS */

.task-btn {
    max-height: 25px;
    display: flex;
    align-items: center;
}

.priority-level {
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20%;
    margin-right: 0.5rem;
    color: white;
    cursor: pointer;


}



.box-shadow {
    box-shadow: 0 0 20px 0 black;
    transition: all 300ms ease;
}

.box-shadow:hover {
    box-shadow: 0 0 20px 0 #d92626;
    transform: scale(1.02);
}

.box {
    min-height: 50vh;
}

.fadedOut {
    opacity: 0;
}


/* GET STARTED ANIMATED BTN */

.animated-button {
    background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
    padding: 20px 40px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #f7d4d4;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ad8585;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
    opacity: 0.2;
}

.animated-button span {
    position: absolute;
}

.animated-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.animated-button span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.animated-button span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.animated-button span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}